<h1>Nous contacter :</h1>

<form>
Saisi ton nom : <input type='text'/> <br>
Saisi ton email : <input type='email'/> <br>
Saisi ton message : <input type='text'/> <br>
<input type='submit'/>
</form>
 

