<html>
  <head>
    <title> The Gossip Project </title>
  </head>
  <body>
    <h1> Bienvenue sur mon super site de potins ! </h1>
    
    <h2><u> Voici la liste de tous les potins :</u></h2>
    <% @gossips.each do |gossip| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= gossip.id %> . <%= gossip.title %></h5>
          <p class="card-text">Voici l'auteur du gossip : <%= gossip.user.first_name %></p>
        </div>
      </div>
    <% end %>
  <body>
</html>


